<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>sucess page</title>
</head>
<body>
 <h1>welcome to sucess page</h1>  
</body>
</html>